html{
  position: relative;
  min-height: 100%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  background-image: url("../images/Paisajes/uno.jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-size: 100%;
}



/*Formulario de acceso*/


.registro{
  margin-top: 12%;
  margin-right: 10%;
  background-color: white;
  border-radius: 5px;
  border-color: red;
  border-width: 5px;
}

.formulario-acceso{
  color: red;
}

.formulario-acceso input{
  color: blue;
}






/* FOOTER */
footer.page-footer-modi {
  margin-top: auto;
  width: 100%;
  position: relative;
  bottom: 0;
  padding-top: 5px;;
  background-color: #1F1E1E;
  max-height: 100%;
}

footer.page-footer-modi .footer-copyright-modi {
  overflow: hidden;
  min-height: auto;
  max-height: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 3px 0px;
  color: rgba(255, 255, 255, 0.8);
  background-color: rgba(51, 51, 51, 0.08);
}

#escudo-footer{
  padding-top: 10px;
  max-height: 100px;
}

#logo-footer{
  padding-top: 10px;
  max-height: 100px;
}

#tel-footer{
  color: white;
}
